@import url(http://fonts.googleapis.com/css?family=Open+Sans:700|Ek+Mukta:500&subset=latin-ext,latin);
body {
    text-align: center;
}
.contentContainer {
    padding-top: 5%;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
}
.resultContainer {
    font-family: 'OpenSans', sans-serif !important;
    text-align: left;
    width: 100%;
    padding: 0 12%;
}
.explanationContainer, .resultContainer {
    display: none;
}

#inputWord {
    width: 60%;
    display: inline-block;
}
.loadingContainer{
    margin-top: 0.4em;
    min-height: 24px;
}
.loading {
    background: #ffffff url(../spinner.gif) no-repeat center center;
    min-height: 24px;
}
button {
    width: 15%;
    min-width: 4.5em;
    letter-spacing: 1px;
    margin-top: -2px;
    font-family: 'Ek Mukta', sans-serif !important;
    display: inline-block;
}
@media all and (min-width: 1200px) {
    .contentContainer {
        width: 50%;
    }
    button {
        margin-top: 0px;
    }
